<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.portal.mapper.RolePermissionMapper">
    <select id="findPermissionByRoleId" resultType="com.example.portal.model.entity.Permission">
        select b.* from role_permission a, permission b where a.permission_id = b.id
        and a.role_id = #{roleId}
    </select>
</mapper>